rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios_autorizados/{email} {
      allow read: if request.auth != null
                  && request.auth.token.email != null
                  && request.auth.token.email.lower() == email.lower();
      allow write: if false;
    }

    match /clientes/{clientId} {
      allow read, delete: if request.auth != null
                          && resource.data.ownerUid == request.auth.uid;
      allow create: if request.auth != null
                    && request.resource.data.ownerUid == request.auth.uid;
      allow update: if request.auth != null
                    && resource.data.ownerUid == request.auth.uid
                    && request.resource.data.ownerUid == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
